MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=pw_l31_sanita
MYSQL_USER=pw_l31
MYSQL_PASSWORD=change-me-db-password

BACKEND_REPO=https://github.com/MichaelMGit/unipegaso_l31_be.git
FRONTEND_REPO=https://github.com/MichaelMGit/unipegaso_l31_fe.git

DATABASE_URL=mysql+pymysql://pw_l31:change-me-db-password@mysql:3306/pw_l31_sanita
JWT_SECRET=change-me-jwt-secret
CORS_ORIGINS=http://localhost:3000

REACT_APP_API_URL=http://127.0.0.1:8001
FRONTEND_PORT=3000
BACKEND_PORT=8001
MYSQL_PORT=3306
